{% extends 'main/base.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    <dib class="features" id="index">
        <h1>{{ title }}</h1>
        <p>Стресс – состояние организма, характеризующееся эмоциональным и физическим напряжением, вызванным воздействием различных неблагоприятных факторов. Понятие стресс подразумевает ситуацию вызывающую потребность в адаптации организма.</p>
        <p>Ни для кого не секрет, что студенты очень подверженны стрессу. На данный момент существуют различные центры поддержки психологического здоровья, однако не все про них знают. Также огромной проблемой являет тот факт, что многие предпочитают не обсуждать свои переживания, а из-за огромного потока информации, которую надо обрабатывать ежедневно, не имеют возможности уделять достаточно времени отдыху и сну, что в результате приводит к необратимым последствиям.</p>

    </dib>
{% endblock %}
