{% extends 'main/base.html' %}

{% block title %}Низкий уровень стресса{% endblock %}

{% block content %}
<div class="features">
    <div class="alert alert-info" id="res2">
        <h1>Низкий уровень стресса: </h1>
    <p>поздравляем, Вы счастливчик, Ваше психологическое здоровье в полном порядке, а для его поддержания рекомендуем регулярно слушать расслабляющую музыку, например:</p>
 <a href="https://m.youtube.com/watch?v=Rgy9PCuf9zo" style="background-color:white">
https://m.youtube.com/watch?v=Rgy9PCuf9zo</a>
    </div>
</div>
{% endblock %}