{% extends 'main/base.html' %}

{% block title %}Средний уровень стресса{% endblock %}

{% block content %}
<div class="features">
    <div class="alert alert-info" id="res2">
        <h1>Средний уровень стресса:</h1>
    <p>
рекомендуем взять выходной, забыть на сутки про все дедлайны, не заходить в социальные сети, посвятить день своим любимым занятиям, также можно послушать лекции по правильному тайм-менеджменту, например </p>
 <a href="https://m.youtube.com/watch?v=r6Lvc_HyWCI" style="background-color:white">https://m.youtube.com/watch?v=r6Lvc_HyWCI</a>
    </div>
</div>
{% endblock %}