{% extends 'main/base.html' %}

{% block title %}Вопросы на сайте{% endblock %}

{% block content %}
    <div class="featuresNews">
        <h1>Архив вопросов</h1>
        {% if tests %}

            {% for el in tests %}
                <div class="alert alert-warning">
                    <h3>{{el.title}}</h3>
                    <p>{{el.anons}}</p><br>
                    <a href="{% url 'test-detail' el.id %}" class="btn btn-success">Посмотреть вопрос</a>

                </div>
            {% endfor %}
        {% else %}
         <p> У вас нет записей</p>
        {% endif %}
    </div>
{% endblock %}
